.checkout{
    position: absolute;
    top: 10.5%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.checkout__cart{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}


.checkout__pay{
    display: flex;
    height: 50%;
    width: 50%;
}

.checkout__pay-info{
    margin: 1rem;
}

.checkout__pay-info button{
    border-color: var(--accent-color);
    background-color: var(--complementary-color);
    color: white;
    border-radius: 5px;
    width: 7rem;
    height: 3rem;
}